body {
  margin: 0;
  background-color: #ffffff;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #232f3e;
  color: white;
  padding: 10px 20px;
  gap: 10%;
}
.navbar-brand {
  background-image: url('logooo.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 10rem; /* Adjust width as needed */
  height: 3rem; /* Adjust height as needed */
}
.navbar-menu {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 3rem;
}
.navbar-menu li {
  font-size: 1.3rem;
  list-style-type: none;
}

.navbar-menu li a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  transition: color 0.3s;
}
.navbar-menu li a:hover {
  color: #ffc107;
}
@media (max-width: 917px){
  .navbar{
    flex-direction: column;
    align-items: center;
    gap:  1rem;
  }.navbar-menu {
    gap: 6rem;
  }
}
@media(max-width: 780px){
    .navbar-menu {
      gap: 4rem;
    }
}@media(max-width: 695px){
    .navbar-menu {
      gap: 3rem;
    }
}@media(max-width: 670px){
  .navbar-menu {
      gap: 4rem;
  }
  .navbar-menu li{
    font-size: 1rem;
  }
}@media(max-width: 540px){
  .navbar-menu {
      gap: 3rem;
  }
  .navbar-menu li{
    font-size: 1rem;
  }
}@media(max-width: 520px){
  .navbar-menu {
      gap: 2rem;
  }
  .navbar-menu li{
    font-size: 1rem;
  }
}@media(max-width: 490px){
  .navbar-menu {
      gap: 1.8rem;
  }
  .navbar-menu li{
    font-size: 1rem;
  }
}@media(max-width: 465px){
  .navbar-menu {
      gap: 1.6rem;
  }
  .navbar-menu li{
    font-size: 1rem;
  }
}@media(max-width: 435px){
  .navbar-menu {
      gap: 1.4rem;
  }
  .navbar-menu li{
    font-size: 1rem;
  }
}
@media(max-width: 390px){
  .navbar-menu {
      gap: 1.2rem;
  }
  .navbar-menu li{
    font-size: 0.9rem;
  }
}
@media(max-width: 345px){
  .navbar-menu {
      gap: 1rem;
  }
  .navbar-menu li{
    font-size: 0.8rem;
  }
}
@media(max-width: 290px){
  .navbar-menu {
      gap: 0.8rem;
  }
  .navbar-menu li{
    font-size: 0.7rem;
  }
}



/*--------------------SlideShow-----------------------*/


img {vertical-align: middle;}

.slido{
  margin:0 auto;
}
/* Slideshow container */
.slideshow-container {
  position: relative;
  max-width:80rem;
  margin: 1rem 3rem;
  overflow: auto;
}

.mySlides{
  
  display: flex;
  aspect-ratio: 30/3;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.856);
  border-radius: 0.5rem;


}


.mySlides img{
  flex: 5 0 100%;
  scroll-snap-align: start;
  object-fit: cover;

}


.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #d7d7d7;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

@media(max-width: 690px){
  .dot{
    height: 10px;
    width: 10px;
  }
}

@media(max-width: 475px){
  .dot{
    height: 7px;
    width: 7px;
  }
}

.active {
  background-color: #717171;
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: .5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


@media(max-width:870px){
  .slideshow-container {
    margin: 1rem 1rem;
  }
}
/*----------------------------------Special for you------------------------------*/



/*--------------------------Cards--------------------*/

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  width: 100vw;
}

.today{
  margin-left: 6.4%;
}
.deal{
  color: #232f3e;
  font-weight: 600;
  font-size: 1.5rem;
}
@media(max-width:812px){
  .deal{
    font-size: 1rem;
  }
}
@media(max-width:720px){
  .deal{
    font-size: 0.9rem;
  }
}


.main-container{
  display: flex; 
  margin-left: 6.4%;
}

.container00{
  display: flex;
  flex-direction: column;
  padding: 0 1rem 0 0;
  gap: 2rem;
  height: 100%;
  width: 65%;
}

.row00{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.card00{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.897);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33%;
}

.card00 a{
  width: 100%;
}

.card00 a img{
  width: 100%;
}

.more{
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  height: 1.6rem;
}

.seemore{
  font-size: 0.8rem;
  color: white;
  background-color: #0c131b;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0.2rem;
  height: 70%;
  border-radius: 20px;

}

.container1{
  width: 35%;
  padding: 0 1rem 0 0;
  
  border-radius: 8px;
}
.container1 img{
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

@media(max-width:500px){

}


/*---------------------all rows---------------*/

.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  
}

.row {
  display: flex;
  width: 100%;
  justify-content: center;
}

.card {
flex: 0 0 calc(20.33%); /* Three cards in a row with margin */
margin: 20px 40px;


  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.897);
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}


.card img {
  width: 100%;
  height: auto;
  display: block;
}


@media(max-width:900px){
  
  .card{
    margin: 15px 30px;
  }
  }


  @media(max-width:750px){
    .container{
      margin-top: 60px;
    }
    .card{
      margin: 5px 20px 20px 20px;
    }
    .row{
      column-gap: 0rem;
    }
    }

    @media(max-width:619px){
      .card{
        margin: 0px 10px 40px 10px; 
      }
      .row{
        column-gap: 1.5rem;
      }
      }


      @media(max-width:500px){
        .footer-section{
          margin-top: -50px;
        }
        .container{
          margin-top: 30px;
        }
        .seemore{
          font-size: 0.6rem;
        }
        .card{
          margin: 0px 10px 25px 10px;
          flex: 0 0 calc(30.33%);
        }
        .row{
          margin: 0 10px 0 10px;
          column-gap: .3rem;
        }
        .main-rows{
          padding: 2rem;
        }
        }


        @media(max-width:400px){
          .card{
            margin: 0px 10px 20px 10px; 
            flex: 0 0 calc(30.33%);
          }
          .row{
            column-gap: 0px;
          }
          }
/*--------------------------Footer------------------*/

.footer-section{
  width: 100vw;
}
.footer {
  margin-top: 3rem;
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  padding-bottom: 4rem;
  width: 100%;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

.footer p {

margin: 5px 0;
font-size: 15px;

}


@media(max-width:700px){
  .footer p{
    font-size: 12px;
    margin: 0px 0px  7px 0px;
  }  
  }

  @media(max-width:450px){
    .footer p{
      font-size: 10px;
      margin: 0px -20px  7px 0px;
    }  
    }

    @media(max-width:370px){
      .footer p{
        font-size: 8px;
        margin: 0px 0px  5px 0px;
      }  
      }