*{
    padding: 0;
    border: 0;
    margin:0;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(158, 158, 233);
}

.navbar {
  background-color: #2e2e2e;
  text-align: center;
  padding: 10px;
}

.logo img {
  max-width: 200px;
}

.menu ul {
  list-style-type: none;
  margin-top: 0 0 0 0 ;
  padding: 0;

}

.menu ul li {
  display: inline-block;
  margin: 0 4rem;
  font-size: 20px;
  letter-spacing: 4px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;

}

.menu ul li:last-child {
  margin-right: 0;
}

.menu ul li a {
  
  text-decoration: none;
}
.aone{
  color: #fff;
}
.aone:active{
  color: blue;

}
.another--1{
  color: rgb(0, 255, 21);

}


@media (max-width: 768px) {
  .menu ul li {
      display: block;
      margin: 10px 0;
  }
}



/*--------------------SlideShow-----------------------*/

.container{
  padding: 2rem;
}

.slider-wrapper{
  position: relative;
  max-width:80rem;
  margin: 0 auto;
}

.slider{
  display: flex;
  aspect-ratio: 30/5;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;

}

.slider img{
  flex: 5 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav{
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

}

.slider-nav a{
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover{
  opacity: 1;

}


/*--------------------------Cards--------------------*/

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  width: 100%;
  justify-content: center;
}

.card {
  flex: 0 0 calc(25.33%); /* Three cards in a row with margin */
  margin: 10px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.897);
  border-radius: 8px;
  overflow: hidden;
  
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}


/*--------------------------Footer------------------*/

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

.footer p {
  margin: 5px 0;
}
